:root {
  /* Variáveis de Cor */
  --corFundo: #101026;
  --corTipo: #F1DF6C;
  --corFraqueza: #937B33;
}

* {
  /* Reset básico de CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 55px 0;
  height: 100vh;
  background-color: var(--corFundo);
}

main {
  margin: 0 auto;
  padding: 30px 43px; /* padding: vertical horizontal; */
  width: 410px;
  height: 657px;
  border-radius: 20px;
  background-color: #FFF;
}

header {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.fotoPokemon {
  display: block;
  margin: 0 auto 16px auto; /* margin: cima direita baixo esquerda */
}

.informacoes p {
  margin-bottom: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.tipo, .fraqueza {
  text-align: center;
}

.tipo h3, .fraqueza h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.tipo span, .fraqueza span {
  padding: 6px 40px;
  border-radius: 5px;
  font-style: italic;
  font-weight: 400;
}

.tipo span {
  background-color: var(--corTipo);
}

.fraqueza span {
  background-color: var(--corFraqueza);
  color: #ffffff;
}

.fraqueza {
  margin-top: 30px;
}